*{
    background-color: black;
    color: white;
    margin: 0;
}

body{
    background-color: black;
}

@keyframes changeColor {
    from { color: white; }  
    to { color:grey; }  
  }
h2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2rem;
    text-align:  center;
    margin-top: 0%;
    background-color: rgb(139, 18, 18);
    animation: changeColor 2s ease 0s infinite alternate;
}
 
body > header > a {
    position: absolute;
    width: 50px;
    height: 28px;
    top: 10px;
    left: 10px;
}

.Logo {
    color:grey;
}

nav {
    padding: 5px;
    background-color: rgb(139, 18, 18);
    text-align: right;
}

nav > a {
    font-family:'Archivo Narrow', sans-serif, Verdana;
    font-size: 1rem;
    color: rgb(105, 105, 105);
    padding: 5px;
    background-color: rgb(139, 18, 18) ;
    text-decoration: none;
}

nav >a:hover{
    color:grey;
}

nav > a >i{
    color:grey;
    padding: 5px;
    background-color: rgb(139, 18, 18) ;
    text-decoration: none;
}

/* -----------Cambio barra navegacion de botones a iconos----------------- */

@media only screen and (max-width: 640px){
        nav > a {
        font-size: 0 ;
        background-color: rgb(139, 18, 18) ;
        }
    .fas, .far, .fab{
        font-size: 1rem;
        line-height: 1rem;
        color: grey;
        background-color: rgb(139, 18, 18);
    }
}


/* -------------  Logo Tablita------------*/

body > header > a > img {
    background-color: rgb(139, 18, 18);
    color:grey;
    transition:.5s;
}

body > header > a > img:hover{
    transform:scale(1.15); 
}

/*-------------------pagina Index-----------------------------*/
.leyenda{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    text-align:center;
    margin-top: 15vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.inicio .cartel1 {
    position: absolute;
    margin-left: 18vw;
    margin-top: 5vh;
    max-height: 360px;
    max-width: 240px;
    opacity: 100%;
    border-radius: 10px;
 }
  
.inicio .cartel2{
    position: absolute;
    margin-top: 5vh;
    margin-left: 18vw; 
    max-height: 360px;
    max-width: 240px;   
    border-radius: 10px; 
    animation: transition 3s ease-in-out infinite alternate-reverse;
}

@keyframes transition{
    from{opacity: 100%;}
    to{opacity: 0%;}
}

.inicio .cartel3{
    height: 0px;
}
.inicio .cartel4{
    height: 0px;
}

@media only screen and (min-width: 800px){

.leyenda{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2rem;
    background-color: transparent;
    text-decoration: none;
    text-align:center;
    margin-top: 15vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.inicio .cartel1{
    position:absolute;
    margin-top: 10vh;
    margin-left: 18vw;
    height: 360px;
    width: 240px;
    opacity: 100%;
}
    
.inicio .cartel2{
    position:absolute;
    margin-top: 10vh;
    margin-left: 18vw;
    height: 360px;
    width: 240px;    
    animation: transition 3s ease-in-out infinite alternate-reverse;
}

.inicio .cartel3{
    position: absolute;
    margin-top: 10vh;
    margin-left: 62vw;
    height: 360px;
    width: 240px;
    opacity: 100%;
    border-radius: 10px;  
}
    
.inicio .cartel4{
    position: absolute  ;
    margin-top: 10vh;
    margin-left: 62vw;
    height: 360px;
    width: 240px;
    border-radius: 10px;    
    animation: transition 3s ease-in-out infinite alternate-reverse;
}

@keyframes transition{
    from{opacity: 100%;}
    to{opacity: 0%;}
}
}

/*------------------- Formulario Login -------------------------*/

.inusr, .inpwd, .sub {
    padding: 5px;
}

#contenedor {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    flex-wrap: wrap;
    }

.Item {
    padding:10px;
    width: 250px;
}    

@media screen and (min-width: 640px){
    #contenedor {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:flex-end;       
}
}

.Recuadrito{
    background-color: white;
    color:grey;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 250px;
}

#contenedor > div.Item.sub > input[type=submit]:hover{
    background-color: hsl(221, 100%, 50%);
}

#contenedor > div.Item.sub > input[type=submit]{
    background-color: #216efd;
    height: 38px;
    width: 250px;;
    border-radius: 5px;
    border:none; 
}

/*------------------- Pagina Peliculas------------------------------ */

.Cartel:hover {
    animation: shake .75s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.Cartel{
    width: 90%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.GridCont{
    display: grid;
    margin-top: 20vh;
    margin-left: 10vw;
    margin-bottom: 5vh;
}

.gridItem1{
    grid-column-start: 1;
    grid-column-end: 1;
}

@media only screen and (min-width: 1024px){
    .GridCont{
        display: grid;
        margin-top: 15vh;
        margin-left: 2vw;
    }

    .gridItem1{
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .gridItem2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
        
    .gridItem3{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .gridItem4{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .gridItem5{
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

@media only screen and (min-width: 640px){
    .GridCont{
        display: grid;
        margin-top: 15vh;
        margin-left: 2vw;
    }

    .gridItem1{
        grid-column-start: 1;
        grid-column-end: 1;
    }
  
    .gridItem2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .gridItem3{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

/*------------------Reproductor------------------------------  */

.provisorio{
    font-family:cursive, 'Archivo Narrow', sans-serif;
    font-size: 2rem;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
}
.provisorio i{
    background-color: transparent;
}

#repro{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18vh;
}

@media only screen and (max-width: 640px){
    #repro{   
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 25vh;
        max-width: 520px;
        max-height: 200px;        
        
    }
}

/*------------------Header--------------------------*/

header {
    position: absolute;
    color: white;
    background-color: rgb(139, 18, 18);
    padding: 1px;
    top: 0vh;
    left: 0px;
    right: 0px;
    opacity: 90%;
} 

/*----------------------Footer-----------------------*/

footer {
    position: fixed;
    bottom: 0px;    
    color:grey;
    font-family:'Archivo Narrow', sans-serif;
    text-align: center;
    background-color: rgb(139, 18, 18);
    padding: 5px;
    left: 0px;
    right: 0px;
}    
footer i{
    background-color: rgb(139, 18, 18);
    color:grey;
} 

footer > a{
    position: absolute;
    left: 90%;
    background-color: transparent;
    color: grey;
    text-decoration: none;
}

/*----------------Terminos y condicione------------------*/

.terminos{
    margin: 12%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    padding: 20px;
}

h5{
    background-color:rgb(139, 18, 18);
    color:grey ;
    font-family: 'Archivo Narrow', sans-serif;
}
/*---------------Formulario Contacto-----------------------*/

.contacto {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
    font-family: 'Archivo Narrow', sans-serif;
    color: grey;
    border-radius: 10px;
}

.fieldcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;  
}

.fieldcontainer div{
    padding: 5px;
    margin: 5px;
}

body > div > form > fieldset{
    color: grey;
    border-radius: 10px;
      
}
body > div > form > fieldset> legend{
    color: grey;
    font-family: 'Archivo Narrow', sans-serif;
}
    
body > div > form > fieldset > div > input[type=submit]{
    background-color: #216efd;
    height: 38px;
    width: 250px;;
    border-radius: 5px;
    border:none; 
}